body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    border: black solid 1px;
    justify-items: center;
    align-items: center;
}
img{
    width: inherit;
}
.labels_pair{
    display: flex;
    padding-top: 5px;
}
button{
    margin: 5px;
}


