.amb-wrap{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black ;
    margin-bottom: 20px;
    align-content: center;
}
.sense-wrap{
    display: flex;
    flex-wrap: nowrap;
    border: 3px solid black ;
    align-content: center;
    margin-bottom: 20px;
}
img{
    padding: 5px;
}
h2{
    align-content: center;
}