
body {
    background-color: beige;
}
.container {
    border: 1px solid orangered;
    width: 800px;
    margin: 20px auto;
    background-color: orange;
}
.container div {
    display: inline-block;
    border: 2px solid darkmagenta;
    background-color: fuchsia;
    color: white;
    width: 100px;
    height: 100px;
    margin: 10px;
}

#quadrat1{
    transform: rotate(180deg);
}
#quadrat2{
    rotate: 45deg;
}
#quadrat3{
    rotate: 225deg;
}
